<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <footer th:fragment="common_header(title,page,page_tab)">
        <!--左侧导航-->
        <aside class="lyear-layout-sidebar">
      
          <!-- logo -->
          <div id="logo" class="sidebar-header">
            <a href="admin"><img src="/images/Logo.png" width="180px" title="logo" alt="logo" /></a>
          </div>
          <div class="shadow-lg lyear-layout-sidebar-info lyear-scroll">
    
            <nav class="sidebar-main">
    
              <ul class="nav-drawer">
                <li class="nav-item" th:classappend="${page == 'adminHome'}?'active open'"> 
                  <a href="/admin">
                    <i class="mdi mdi-card-text"></i>
                    <span>数据报表</span>
                  </a>
                </li>
                  <li class="nav-item" th:classappend="${page == 'ip'}?'active open'">
                      <a href="/admin/ip">
                          <i class="mdi mdi-ip-network"></i>
                          <span>IP管理</span>
                      </a>
                  </li>
                <li class="nav-item nav-item-has-subnav" th:classappend="${page == 'region'}?'active open'"> 
                    <a href="javascript:void(0)">
                        <i class="mdi mdi-server"></i>
                        <span>区域节点</span>
                    </a>
                    <ul class="nav nav-subnav">
                        <li class="" th:classappend="${page_tab == 'region'}?'active'"> <a href="/admin/region">地区管理</a> </li>
                        <li class="" th:classappend="${page_tab == 'node'}?'active'"> <a href="/admin/node">服务器管理</a> </li>
                    </ul>
                </li>

                <li class="nav-item nav-item-has-subnav" th:classappend="${page == 'vhost'}?'active open'">
                  <a href="javascript:void(0)">
                    <i class="mdi mdi-adjust"></i>
                    <span>业务管理</span>
                  </a>
                  <ul class="nav nav-subnav">
                    <li class="" th:classappend="${page_tab == 'vhostList'}?'active'"> <a href="/admin/vhostList">主机列表</a> </li>
                    <li class="" th:classappend="${page_tab == 'addVhost'}?'active'"> <a href="/admin/addVhost">添加主机</a> </li>
                  </ul>
                </li>
                <li class="nav-item nav-item-has-subnav" th:classappend="${page == 'software'}?'active open'">
                  <a href="javascript:void(0)">
                    <i class="mdi mdi-folder-multiple"></i>
                    <span>一键部署</span>
                  </a>
                  <ul class="nav nav-subnav">
                    <li class="" th:classappend="${page_tab == 'softList'}?'active'"> <a href="/admin/softList">程序列表</a> </li>
                    <li class="" th:classappend="${page_tab == 'addSoft'}?'active'"> <a href="/admin/addSoft">添加程序</a> </li>
                  </ul>
                </li>
                <li class="nav-item nav-item-has-subnav" th:classappend="${page == 'journal'}?'active open'">
                    <a href="javascript:void(0)">
                      <i class="mdi mdi-notebook"></i>
                      <span>日志管理</span>
                    </a>
                    <ul class="nav nav-subnav">
                      <li class="" th:classappend="${page_tab == 'sysJournal'}?'active'"> <a href="/admin/sysJournal">系统日志</a> </li>
                      <li class="" th:classappend="${page_tab == 'openJournal'}?'active'"> <a href="/admin/openJournal">开通日志</a> </li>
                      <li class="" th:classappend="${page_tab == 'monitorJournal'}?'active'"> <a href="/admin/monitorJournal">探针日志</a> </li>
                      <li class="" th:classappend="${page_tab == 'apiJournal'}?'active'"> <a href="/admin/apiJournal">API调用日志</a> </li>
                      <li class="" th:classappend="${page_tab == 'softJournal'}?'active'"> <a href="/admin/softJournal">一键部署日志</a> </li>
                    </ul>
                  </li>
                <li class="nav-item nav-item-has-subnav" th:classappend="${page == 'command'}?'active open'">
                  <a href="javascript:void(0)">
                    <i class="mdi mdi-tune"></i>
                    <span>系统设置</span>
                  </a>
                  <ul class="nav nav-subnav">
                    <li class="" th:classappend="${page_tab == 'system'}?'active'"> <a href="/system">全局配置</a> </li>
                    <li class="" th:classappend="${page_tab == 'administrator'}?'active'"> <a href="/admin/administrator">管理设置</a> </li>
                    <li class="" th:classappend="${page_tab == 'authorization'}?'active'"> <a href="/admin/authorization">授权管理</a> </li>
                    <li class="" th:classappend="${page_tab == 'api'}?'active'"> <a href="/admin/api">API管理</a> </li>
                    <li class="" th:classappend="${page_tab == 'userPanel'}?'active'"> <a href="/admin/userPanel">用户面板管理</a> </li>
                      <li class="" th:classappend="${page_tab == 'help'}?'active'"> <a href="/admin/help">教程与帮助</a> </li>
                    <li class="" th:classappend="${page_tab == 'update'}?'active'"> <a href="/admin/update">系统更新</a> </li>
                  </ul>
                </li>
              </ul>
            </nav>
    
            <div class="sidebar-footer">
              <p class="copyright">
                <span>Copyright &copy; 2023. </span>
                <a target="_blank" href="https://cloud.chuqis.com">初七云-虚拟主机自动化控制系统</a>
                <span> All rights reserved.</span>
              </p>
            </div>
          </div>
    
        </aside>
        <!--End 左侧导航-->
    
        <!--头部信息-->
        <header class="lyear-layout-header">
    
          <nav class="navbar">
    
            <div class="navbar-left">
              <div class="lyear-aside-toggler">
                <span class="lyear-toggler-bar"></span>
                <span class="lyear-toggler-bar"></span>
                <span class="lyear-toggler-bar"></span>
              </div>
            </div>
    
            <ul class="navbar-right d-flex align-items-center">
                <!--顶部消息部分-->
          <li class="dropdown dropdown-notice">
            <span data-bs-toggle="dropdown" class="position-relative icon-item">
              <i class="mdi mdi-bell-outline fs-5"></i>
              <span class="position-absolute translate-middle badge bg-danger">7</span>
            </span>
            <div class="dropdown-menu dropdown-menu-end">
              <div class="lyear-notifications">

                <div class="lyear-notifications-title d-flex justify-content-between" data-stopPropagation="true">
                  <span>你有 10 条未读消息</span>
                  <a href="#!">查看全部</a>
                </div>
                <div class="lyear-notifications-info lyear-scroll">
                  <a href="#!" class="dropdown-item"
                    title="树莓派销量猛增，疫情期间居家工作学习、医疗领域都需要它">树莓派销量猛增，疫情期间居家工作学习、医疗领域都需要它</a>
                  <a href="#!" class="dropdown-item"
                    title="GNOME 用户体验团队将为 GNOME Shell 提供更多改进">GNOME 用户体验团队将为 GNOME Shell
                    提供更多改进</a>
                  <a href="#!" class="dropdown-item"
                    title="Linux On iPhone 即将面世，支持 iOS 的双启动">Linux On iPhone 即将面世，支持 iOS
                    的双启动</a>
                  <a href="#!" class="dropdown-item" title="GitHub 私有仓库完全免费面向团队提供">GitHub
                    私有仓库完全免费面向团队提供</a>
                  <a href="#!" class="dropdown-item"
                    title="Wasmtime 为 WebAssembly 增加 Go 语言绑定">Wasmtime 为 WebAssembly 增加 Go
                    语言绑定</a>
                  <a href="#!" class="dropdown-item"
                    title="红帽借“订阅”成开源一哥，首创者 Cormier 升任总裁">红帽借“订阅”成开源一哥，首创者 Cormier 升任总裁</a>
                  <a href="#!" class="dropdown-item" title="Zend 宣布推出两项 PHP 新产品">Zend 宣布推出两项
                    PHP 新产品</a>
                </div>

              </div>
            </div>
          </li>
          <!--End 顶部消息部分-->
              <!--切换主题配色-->
          <li class="dropdown dropdown-skin">
            <span data-bs-toggle="dropdown" class="icon-item">
                  <i class="mdi mdi-palette fs-5"></i>
                </span>
          <ul class="dropdown-menu dropdown-menu-end" data-stopPropagation="true">
                  <li class="lyear-skin-title"><p>主题</p></li>
                  <li class="lyear-skin-li clearfix">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="site_theme" id="site_theme_1" value="default" checked="checked">
                      <label class="form-check-label" for="site_theme_1"></label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="site_theme" id="site_theme_2" value="translucent-green">
                      <label class="form-check-label" for="site_theme_2"></label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="site_theme" id="site_theme_3" value="translucent-blue">
                      <label class="form-check-label" for="site_theme_3"></label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="site_theme" id="site_theme_4" value="translucent-yellow">
                      <label class="form-check-label" for="site_theme_4"></label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="site_theme" id="site_theme_5" value="translucent-red">
                      <label class="form-check-label" for="site_theme_5"></label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="site_theme" id="site_theme_6" value="translucent-pink">
                      <label class="form-check-label" for="site_theme_6"></label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="site_theme" id="site_theme_7" value="translucent-cyan">
                      <label class="form-check-label" for="site_theme_7"></label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="site_theme" id="site_theme_8" value="dark">
                      <label class="form-check-label" for="site_theme_8"></label>
                    </div>
                  </li>
            <li class="lyear-skin-title"><p>LOGO</p></li>
            <li class="lyear-skin-li clearfix">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="logo_bg" id="logo_bg_1" value="default" checked="checked">
                      <label class="form-check-label" for="logo_bg_1"></label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="logo_bg" id="logo_bg_2" value="color_2">
                      <label class="form-check-label" for="logo_bg_2"></label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="logo_bg" id="logo_bg_3" value="color_3">
                      <label class="form-check-label" for="logo_bg_3"></label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="logo_bg" id="logo_bg_4" value="color_4">
                      <label class="form-check-label" for="logo_bg_4"></label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="logo_bg" id="logo_bg_5" value="color_5">
                      <label class="form-check-label" for="logo_bg_5"></label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="logo_bg" id="logo_bg_6" value="color_6">
                      <label class="form-check-label" for="logo_bg_6"></label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="logo_bg" id="logo_bg_7" value="color_7">
                      <label class="form-check-label" for="logo_bg_7"></label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="logo_bg" id="logo_bg_8" value="color_8">
                      <label class="form-check-label" for="logo_bg_8"></label>
                    </div>
            </li>
            <li class="lyear-skin-title"><p>头部</p></li>
            <li class="lyear-skin-li clearfix">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="header_bg" id="header_bg_1" value="default" checked="checked">
                      <label class="form-check-label" for="header_bg_1"></label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="header_bg" id="header_bg_2" value="color_2">
                      <label class="form-check-label" for="header_bg_2"></label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="header_bg" id="header_bg_3" value="color_3">
                      <label class="form-check-label" for="header_bg_3"></label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="header_bg" id="header_bg_4" value="color_4">
                      <label class="form-check-label" for="header_bg_4"></label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="header_bg" id="header_bg_5" value="color_5">
                      <label class="form-check-label" for="header_bg_5"></label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="header_bg" id="header_bg_6" value="color_6">
                      <label class="form-check-label" for="header_bg_6"></label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="header_bg" id="header_bg_7" value="color_7">
                      <label class="form-check-label" for="header_bg_7"></label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="header_bg" id="header_bg_8" value="color_8">
                      <label class="form-check-label" for="header_bg_8"></label>
                    </div>
            </li>
            <li class="lyear-skin-title"><p>侧边栏</p></li>
            <li class="lyear-skin-li clearfix">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="sidebar_bg" id="sidebar_bg_1" value="default" checked="checked">
                      <label class="form-check-label" for="sidebar_bg_1"></label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="sidebar_bg" id="sidebar_bg_2" value="color_2">
                      <label class="form-check-label" for="sidebar_bg_2"></label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="sidebar_bg" id="sidebar_bg_3" value="color_3">
                      <label class="form-check-label" for="sidebar_bg_3"></label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="sidebar_bg" id="sidebar_bg_4" value="color_4">
                      <label class="form-check-label" for="sidebar_bg_4"></label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="sidebar_bg" id="sidebar_bg_5" value="color_5">
                      <label class="form-check-label" for="sidebar_bg_5"></label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="sidebar_bg" id="sidebar_bg_6" value="color_6">
                      <label class="form-check-label" for="sidebar_bg_6"></label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="sidebar_bg" id="sidebar_bg_7" value="color_7">
                      <label class="form-check-label" for="sidebar_bg_7"></label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="sidebar_bg" id="sidebar_bg_8" value="color_8">
                      <label class="form-check-label" for="sidebar_bg_8"></label>
                    </div>
            </li>
            </ul>
          </li>
              <!--End 切换主题配色-->
              <!--个人头像内容-->
              <li class="dropdown">
                <a href="javascript:void(0)" data-bs-toggle="dropdown" class="dropdown-toggle">
                  <img class="avatar-md rounded-circle" src="/images/admin/admin.png" alt="管理员" />
                  <span class="text-yellow" style="margin-left: 10px;">管理员</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li>
                    <a class="dropdown-item" href="/Edit">
                      <i class="mdi mdi-lock-outline"></i>
                      <span>修改密码</span>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0)">
                      <i class="mdi mdi-delete"></i>
                      <span>清空缓存</span>
                    </a>
                  </li>
                  <li class="dropdown-divider"></li>
                  <li>
                    <a class="dropdown-item" href="/admin/logout">
                      <i class="mdi mdi-logout-variant"></i>
                      <span>退出登录</span>
                    </a>
                  </li>
                </ul>
              </li>
              <!--End 个人头像内容-->
            </ul>
    
          </nav>
    
        </header>
        <!--End 头部信息-->
      </footer>
    </body>
    </html>