<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="keywords" content="初七云,云虚拟主机管理系统">
<meta name="description" content="云虚拟主机管理系统">
<title>控制中心 - 云虚拟主机管理系统</title>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<link rel="stylesheet" type="text/css" href="/css/materialdesignicons.min.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/animate.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.min.css">
<link rel="stylesheet" type="text/css" href="/css/flag-icon.css">
</head>
<body>
    <div class="lyear-layout-web">
        <div class="lyear-layout-container">
          <div id="header" th:include="admin/common/header :: common_header(${title},${page},${page_tab})"></div>
          <!--页面主要内容-->
          <main class="lyear-layout-content">
      
            <div class="container-fluid">

                <div class="row">

                    <div class="col-lg-12">
                        <div class="card" id="addNode">
                            <header class="card-header"><div class="card-title">添加宝塔节点</div></header>
                            <div class="card-body">
                                <form action="#!" method="post" name="edit-form" class="edit-form">
                                    <div class="tab-content">
                                        <div class="tab-pane fade show active" id="addNodeBase" aria-labelledby="addNodeBase">
                                            <div class="mb-3">
                                                <label for="nodeIp" class="form-label">宝塔IP</label>
                                                <input class="form-control" type="text" id="nodeIp" name="nodeIp" value="" placeholder="填写服务器IP">
                                                <small class="form-text">如果面板开启了域名访问则需要在此填写配置的域名<code>（建议与解析IP所不同）</code></small>
                                            </div>
                                            <div class="mb-3">
                                                <label for="nodePort" class="form-label">宝塔端口</label>
                                                <input class="form-control" type="text" id="nodePort" name="nodePort" value="" placeholder="填写宝塔端口">
                                                <small class="form-text"><code>不建议端口使用8888等端口，以免造成安全隐患！</code></small>
                                            </div>
                                            <div class="mb-3">
                                                <label for="nodeKey" class="form-label">宝塔密钥</label>
                                                <input class="form-control" type="text" id="nodeKey" name="nodeKey" value="" placeholder="填写宝塔接口密钥">
                                                <small class="form-text">宝塔设置->APi接口->接口密钥</small>
                                            </div>
                                            <div class="mb-3">
                                                <label for="nodeOS" class="form-label">服务器操作系统</label>
                                                <select class="form-select" id="nodeOS" name="nodeOS" aria-label="操作系统">
                                                    <option value="0">Linux</option>
                                                    <option value="1">Windows</option>
                                                </select>
                                                <small class="form-text"><code>注意只有Windows系统才支持IIS服务！</code></small>
                                            </div>
                                            <div class="mb-3">
                                                <label for="nodeSoft" class="form-label">服务器环境架构</label>
                                                <select class="form-select" id="nodeSoft" name="nodeSoft" aria-label="服务器环境架构">
                                                    <option value="0">LNMP</option>
                                                    <option value="1">LAMP</option>
                                                    <option value="2">IIS</option>
                                                    <option value="3">LNP</option>
                                                    <option value="4">LAP</option>
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label for="nodeGroup" class="form-label">地区所属</label>
                                                <input class="form-control" type="text" id="nodeGroup" name="nodeGroup" value="" placeholder="中国-北京" aria-describedby="button-addon2">
                                                <button class="btn btn-outline-secondary" type="button" id="button-addon2">自动生成</button>
                                                <small class="form-text">格式：中国-北京</small>
                                            </div>
                                            <div class="mb-3">
                                                <label for="nodeSSL" class="form-label">安全访问(HTTPS)</label>
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" role="switch" id="nodeSSL">
                                                </div>
                                                <small class="form-text">如果您的宝塔面板开启了<code>[面板SSL]</code>则需要把这个开关打开</small>
                                            </div>
                                            <div class="mb-3">
                                                <label for="nodeOk" class="form-label">开通激活</label>
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" role="switch" id="nodeOk">
                                                </div>
                                                <small class="form-text">禁止该服务器开通新产品，请关闭</small>
                                            </div>
                                            <div class="d-grid gap-2">
                                                <button class="btn btn-primary" type="reset" id="okButton"><i class="mdi mdi-checkbox-marked-circle-outline"></i>确认添加</button>
                                                <button class="btn btn-secondary" type="button" onclick="javascript:history.back(-1);return false;">返回</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
      
            </div>
      
          </main>
          <!--End 页面主要内容-->
        </div>
    </div>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/perfect-scrollbar.min.js"></script>
    <script type="text/javascript" src="/js/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="/js/main.min.js"></script>
    <!--引入loading插件js-->
    <script type="text/javascript" src="/js/lyear-loading.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('#okButton').click(function(){
        var l = $('#addNode').lyearloading({
            opacity: 0.125,
            spinnerSize: 'lg'
        });
        setTimeout(function() {
            l.destroy();
        }, 1e3)
    });
});
</script>
</body>
</html>