<!DOCTYPE html>
<html lang="zh">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="keywords" content="初七云,云虚拟主机管理系统">
<meta name="description" content="云虚拟主机管理系统">
<title>管理登录 - 云虚拟主机管理系统</title>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<link rel="stylesheet" type="text/css" href="/css/materialdesignicons.min.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/animate.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.min.css">
<style>
  @keyframes animate8345 {
  0%,100% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(360deg);
  }
}

.loader {
  color: rgb(0, 0, 0);
  background: linear-gradient(to right, #2d60ec, #3ccfda);
  font-size: 40px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: animate8345 9s linear infinite;
  font-weight: bold;
}
</style>
</head>

<body class="bg-white overflow-x-hidden">
<div class="row bg-white vh-100">
  <div class="col-md-6 col-lg-7 col-xl-8 d-none d-md-block" style="background-image: url(/images/admin/login_bg.jpg); background-size: cover;">

    <div class="d-flex vh-100">
      <div class="p-5 align-self-end">
        <img src="/images/Logo.png" width="180px" alt="...">
        <br><br><br>
        <p class="text-white">虚拟主机自动化控制系统</p>
      </div>
    </div>

  </div>

  <div class="col-md-6 col-lg-5 col-xl-4 align-self-center">
    <div class="p-5">
      <div class="text-center">
        <a href="#"> <img alt="admin" src="/images/logo-s.png" width="120px"></a>
        <div class="loader">云管中心</div>
      </div>
      <p class="text-center text-muted"><small>请使用您的账号登录系统</small></p>

      <form action="#" method="post" class="signin-form needs-validation" novalidate>
        <div class="mb-3">
          <label for="username">用户名</label>
          <input type="text" class="form-control" id="username" placeholder="请输入您的用户名" required>
        </div>

        <div class="mb-3">
          <label for="password">密码</label>
          <input type="password" class="form-control" id="password" placeholder="请输入您的密码" required>
        </div>

        <div class="mb-3">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="rememberme">
            <label class="form-check-label not-user-select" for="rememberme">5天内自动登录</label>
          </div>
        </div>

        <div class="mb-3 d-grid">
          <button id="login" class="btn btn-primary" type="submit">立即登录</button>
        </div>
      </form>
      <p class="text-center text-muted mt-3">Copyright © 2023 <a target="_blank" href="https://cloud.chuqis.com">初七云-虚拟主机自动化控制系统</a>. All right reserved</p>
    </div>
  </div>
</div>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/lyear-loading.js"></script>
<script type="text/javascript" src="/js/bootstrap-notify.min.js"></script>
<script type="text/javascript">
var loader;
$(document).ajaxStart(function(){
    $("button:submit").html('登录中...').attr("disabled", true);
    loader = $('button:submit').lyearloading({
        opacity: 0.2,
        spinnerSize: 'nm'
    });
}).ajaxStop(function(){
    loader.destroy();
    $("button:submit").html('立即登录').attr("disabled", false);
});
$('.signin-form').on('submit', function(event) {
    if ($(this)[0].checkValidity() === false) {
        event.preventDefault();
        event.stopPropagation();
        $(this).addClass('was-validated');
        return false;
    }
  const username = $('input[id="username"]').val();
  const password = $('input[id="password"]').val();
  const rememberme = $('input[id="rememberme"]').val();
  $.ajax({
    type : "POST",
    url: "/admin/loginDo",
    data: JSON.stringify({
      username : username,
      password : password,
      rememberme : rememberme
    }),
    contentType : "application/json",
    success : function(result) {
      if (result.code == 20000) {
        $.notify({
          message: '登录成功，页面即将跳转~',
        }, {
          type: 'success',
          placement: {
            from: 'top',
            align: 'right'
          },
          z_index: 10800,
          delay: 1500,
          animate: {
            enter: 'animate__animated animate__fadeInUp',
            exit: 'animate__animated animate__fadeOutDown'
          }
        });
        setTimeout(function () {
          location.href = '/admin';
        }, 1500);
      }else {
        $.notify({
          message: '登录失败，错误原因：' + result.msg,
        },{
          type: 'danger',
          placement: {
            from: 'top',
            align: 'right'
          },
          z_index: 10800,
          delay: 1500,
          animate: {
            enter: 'animate__animated animate__shakeX',
            exit: 'animate__animated animate__fadeOutDown'
          }
        });
        $('#password').val('');
        $("#captcha").click();
      }
    }
  }).fail(function () {
    $.notify({
      message: '服务器错误',
    },{
      type: 'danger',
      placement: {
        from: 'top',
        align: 'right'
      },
      z_index: 10800,
      delay: 1500,
      animate: {
        enter: 'animate__animated animate__shakeX',
        exit: 'animate__animated animate__fadeOutDown'
      }
    });
  });
    return false;
});
</script>
</body>
</html>