<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="keywords" content="初七云,云虚拟主机管理系统">
<meta name="description" content="云虚拟主机管理系统">
<title>控制中心 - 云虚拟主机管理系统</title>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<link rel="stylesheet" type="text/css" href="/css/materialdesignicons.min.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/animate.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.min.css">
<link rel="stylesheet" type="text/css" href="/css/flag-icon.css">
</head>
<body>
    <div class="lyear-layout-web">
        <div class="lyear-layout-container">
          <div id="header" th:include="admin/common/header :: common_header(${title},${page},${page_tab})"></div>
          <!--页面主要内容-->
          <main class="lyear-layout-content">
      
            <div class="container-fluid">

                <div class="row">

                    <div class="co-lg-12">
                        <div class="card">
                            <header class="card-header"><div class="card-title">地区管理</div></header>
                            <div class="card-body">
                                <div class="row">
                                    <div id="toolbar" class="toolbar-btn-action">
                                        <button id="btn_add" type="button" class="shadow-lg btn btn-primary btn-round" aria-hidden="true">
                                          <span class="mdi mdi-plus"></span>新增地区
                                        </button>
                                        <button id="btn_delete" type="button" class="shadow-lg btn btn-danger btn-round" aria-hidden="true">
                                          <span class="mdi mdi-window-close"></span>删除选中
                                        </button>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="list-group">
                                        <div  th:each="regionList:${region}">
                                            <button class="shadow-lg callout callout-info mb-3" type="button" data-bs-toggle="collapse" th:attr="data-bs-target='#'+${regionList.code}+'Collapse'" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                                                <span class="flag-icon" th:classappend="'flag-icon-'+${regionList.code}"></span>
                                                <span th:text="${regionList.parentClass}"></span>
                                            </button>
                                            <div class="collapse" id="collapseExample" th:id="${regionList.code}+'Collapse'">
                                                <div class="shadow card card-body">
                                                    
                                                        <table class="table table-bordered table-hover table-striped">
                                                          <thead>
                                                            <tr>
                                                              <th>ID</th>
                                                              <th>地区</th>
                                                              <th>节点数量</th>
                                                              <th>状态</th>
                                                              <th>硬盘使用率(所有)</th>
                                                              <th>操作</th>
                                                            </tr>
                                                          </thead>
                                                          <tbody  th:each="lowregion:${regionList.regions}">
                                                            <tr>
                                                              <td scope="row" th:text="${lowregion.id}">1</td>
                                                              <td th:text="${lowregion.region}">武汉</td>
                                                              <td th:text="${lowregion.nodenum}">10</td>
                                                              <td><span class="badge rounded-pill bg-success">正常</span></td>
                                                              <td>
                                                                <div class="progress">
                                                                    <div class="progress-bar progress-bar-striped progress-bar-animated" th:classappend=" ${lowregion.diskwidth}" role="progressbar" style="width: 25%;" th:style="'width: '+ ${lowregion.valuenow} + '%'" aria-valuemin="0" aria-valuemax="100" th:text="${lowregion.valuenow}+'%'">25%</div>
                                                                </div>
                                                              </td>
                                      
                                                              <td>
                                                                <div class="btn-group">
                                                                    <a href="#!" title="删除" data-toggle="tooltip"><span class="badge bg-danger">删除</span></a>
                                                                  </div>
                                                              </td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
      
            </div>
      
          </main>
          <!--End 页面主要内容-->
        </div>
    </div>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/perfect-scrollbar.min.js"></script>
    <script type="text/javascript" src="/js/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="/js/main.min.js"></script>
</body>
</html>